In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')

df.head()

   no         date  ... Dividend Yield 1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)      1,487.52
1   2  Nov 21 2019  ...      N/A (N/A)      1,459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.3
3   4  Nov 21 2019  ...   2.04 (1.36%)        160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)        257.21

[5 rows x 19 columns]

In [16]:
#import fix_yahoo_finance as yf
#dg = yf.download(tickers=["AAPL","AMZN","JPM","GOOG","ORCL"], start="2018-01-01", end="2019-11-20", group_by="ticker")
#dg.head(10)
co = pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/constituents.csv')
co.tail()

    Symbol                    Name                  Sector
500    YUM         Yum! Brands Inc  Consumer Discretionary
501   ZBRA      Zebra Technologies  Information Technology
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

In [17]:
co.isnull().sum()

Symbol    0
Name      0
Sector    0
dtype: int64

In [18]:
## prep both datasets for combining and get rid of potential duplicate company name column in co dataset
co.drop(columns=['Name'], inplace=True)
data = df['company_name'].str.split("- ", n = 1, expand = True)
df['Symbol'] = data[0]
df['company_name'] = data[1]
df.drop(columns=["no"], inplace=True)
df['date'] = pd.to_datetime(df['date'], format='%b %d %Y')
df.head()

        date                                 company_name  ... 1Y target est  Symbol
0 2019-11-21                                Alphabet Inc.  ...      1,487.52   GOOG
1 2019-11-21                                Alphabet Inc.  ...      1,459.33  GOOGL
2 2019-11-21  International Business Machines Corporation  ...         148.3    IBM
3 2019-11-21                        Microsoft Corporation  ...        160.16   MSFT
4 2019-11-21                                   Apple Inc.  ...        257.21   AAPL

[5 rows x 19 columns]

In [19]:
df.isnull().sum()

date                     0
company_name             0
price_at_close         144
price_change           144
price_after_hours      144
previous_close         144
today opened           155
price range            149
52 week range          248
volume                 153
average volume        1321
market cap             607
beta (3Y Monthly)     4742
PE Ratio              7685
EPS                   2943
earnings date        10294
Dividend Yield         280
1Y target est         9974
Symbol                   0
dtype: int64

In [20]:
stock_merge = pd.merge_ordered(df, co, fill_method='ffill', on='Symbol')
stock_merge

            date                   company_name  ... Symbol       Sector
0            NaT                            NaN  ...      A  Health Care
1     2019-12-10     Agilent Technologies, Inc.  ...     A   Health Care
2     2019-12-11     Agilent Technologies, Inc.  ...     A   Health Care
3     2019-12-12     Agilent Technologies, Inc.  ...     A   Health Care
4     2019-12-13     Agilent Technologies, Inc.  ...     A   Health Care
...          ...                            ...  ...    ...          ...
68405 2020-04-20  Zynerba Pharmaceuticals, Inc.  ...  ZYNE   Health Care
68406 2020-04-21  Zynerba Pharmaceuticals, Inc.  ...  ZYNE   Health Care
68407 2020-04-24  Zynerba Pharmaceuticals, Inc.  ...  ZYNE   Health Care
68408 2020-04-27  Zynerba Pharmaceuticals, Inc.  ...  ZYNE   Health Care
68409 2020-04-28  Zynerba Pharmaceuticals, Inc.  ...  ZYNE   Health Care

[68410 rows x 20 columns]

In [23]:
##drop empty rows or rows with NaN
stock_row_drop = stock_merge.dropna(how='any')
stock_row_drop.isnull().sum()

date                 0
company_name         0
price_at_close       0
price_change         0
price_after_hours    0
previous_close       0
today opened         0
price range          0
52 week range        0
volume               0
average volume       0
market cap           0
beta (3Y Monthly)    0
PE Ratio             0
EPS                  0
earnings date        0
Dividend Yield       0
1Y target est        0
Symbol               0
Sector               0
dtype: int64