In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')

df.dtypes

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [2]:
dg = df['company_name'].str.split("- ", n=1, expand=True)
df['Symbol'] = dg[0]
df['company_name'] = dg[1]
df['company_name'] = df.company_name.astype('category')

dh = df['52 week range'].str.split("- ", n=1, expand=True)
df['52_week_range_lo'] = dh[0]
df['52_week_range_hi'] = dh[1]

di = df['price_change'].str.split("(", n=1, expand=True)
df['price_change_amt'] = di[0].str.strip(",")
df['price_change_prct'] = di[1]
df['price_change_prct'] = df.price_change_prct.str.strip('%)')
df['price_change_prct'] = df.price_change_prct.astype('float')

dj = df['price range'].str.split("- ", n=1, expand=True)
df['price_range_lo'] = dj[0]
df['price_range_hi'] = dj[1]

df.drop(columns=["52 week range", "price_change"], inplace=True)
df['date'] = pd.to_datetime(df['date'], format='%b %d %Y')
df['no'] = df.no.astype(str)
df.dtypes

no                           object
date                 datetime64[ns]
company_name               category
price_at_close               object
price_after_hours            object
previous_close               object
today opened                 object
price range                  object
volume                       object
average volume               object
market cap                   object
beta (3Y Monthly)           float64
PE Ratio                     object
EPS                          object
earnings date                object
Dividend Yield               object
1Y target est                object
Symbol                       object
52_week_range_lo             object
52_week_range_hi             object
price_change_amt             object
price_change_prct           float64
price_range_lo               object
price_range_hi               object
dtype: object

In [3]:
df.head()

  no       date  ... price_range_lo price_range_hi
0  1 2019-11-21  ...      1,293.01        1,312.45
1  2 2019-11-21  ...      1,290.75        1,311.04
2  3 2019-11-21  ...        132.98          134.17
3  4 2019-11-21  ...        148.51          149.80
4  5 2019-11-21  ...        261.18          264.01

[5 rows x 24 columns]

In [15]:
df_long = pd.melt(
    df,
    id_vars=['company_name', 'Symbol']
    )

df_long.tail(30)

                                        company_name  ...   value
1493880                 The Williams Companies, Inc.  ...   19.30
1493881  Willis Towers Watson Public Limited Company  ...  178.60
1493882                        Wynn Resorts, Limited  ...   87.57
1493883                             Xcel Energy Inc.  ...   66.87
1493884                                 Xilinx, Inc.  ...   90.25
1493885                                   Xylem Inc.  ...   73.86
1493886                            Yum! Brands, Inc.  ...   90.47
1493887                 Zimmer Biomet Holdings, Inc.  ...  119.50
1493888   Zions Bancorporation, National Association  ...   31.81
1493889                               Entegris, Inc.  ...   54.08
1493890                                  Novartis AG  ...   90.95
1493891                   Sarepta Therapeutics, Inc.  ...  126.73
1493892                            Inphi Corporation  ...  101.73
1493893                Zynerba Pharmaceuticals, Inc.  ...  4.2500
1493894                                 Trimble Inc.  ...   35.71
1493895                         EchoStar Corporation  ...   32.07
1493896                      Maxar Technologies Inc.  ...   12.23
1493897                                 Viasat, Inc.  ...   44.02
1493898               Virgin Galactic Holdings, Inc.  ...   18.83
1493899            Aerojet Rocketdyne Holdings, Inc.  ...   43.04
1493900                                MongoDB, Inc.  ...  163.00
1493901                  Benchmark Electronics, Inc.  ...   22.43
1493902                                   Jabil Inc.  ...   27.60
1493903                          Sanmina Corporation  ...   27.77
1493904                                 Plexus Corp.  ...   64.18
1493905                                    Flex Ltd.  ...    9.31
1493906                    Methode Electronics, Inc.  ...   30.75
1493907                        IEC Electronics Corp.  ...    7.10
1493908                        Magellan Health, Inc.  ...   56.21
1493909                                Zscaler, Inc.  ...   71.20

[30 rows x 4 columns]